/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #f5f5f5;
}

.zbozi {
    width: 670px;
    height: 440px;
    /* border: 2px solid cyan; */
    border-radius: 10px;
    margin: auto;
    display: flex;
    box-shadow: 2px 3px 10px lightgray;
}

h1 {
    font-weight: 500;
}

.vizual {
    background: linear-gradient(#06d7c1, #50cc49);
    border-radius: 10px 0px 0px 10px;
    padding: 30px;
    flex-grow: 1;
    flex-basis: 400px;
    position: relative;
    /* border: 2px solid magenta; */
}

.logo {
    /* border: 2px solid blue; */
    margin-bottom: 30px;
}

.slogan { 
    /* border: 2px solid green; */
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.cenovka {
    position: absolute;
    text-align: right;
    bottom: 30px;
    right: 30px;
}

.cena {
    color: white;
    /* border: 2px solid blue; */
    font-size: 28px;
    font-weight: 500;
    /* position: absolute;
    bottom: 46px;
    right: 30px; */
}

.zaruka {
    color: white;
    /* border: 2px solid blue; */
    font-size: 12px;
    font-weight: 400;   
    /* position: absolute;
    right: 30px;
    bottom: 30px; */
}

.bota {
 position: absolute;
 bottom: 0px;
 right: 0px;
 /* border: 2px solid lime; */
}

/* konec zelené části */

.detaily {
    flex-grow: 1;
    /* border: 2px solid yellow; */
    border-radius: 0px 10px 10px 0px;
    flex-basis: 400px;
    padding: 30px;
    background-color: white;
    position: relative;
}

.nazev {
    /* border: 2px solid orange; */
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-transform: uppercase;
}

.produkt {
    /* border: 2px solid red; */
    margin: 10px 0px;
    padding: 0;
    color: #959595;
}

.popis {
    margin: 20px 0px 30px 0px;
    padding: 0;
    /* border: 2px solid red; */
}

hr {
    height: 1.5px;
    background-color: #06d7c1;
    border: none;
    margin: 0;
}

.velikosti {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
    /* border: 2px solid palevioletred; */
}

.parametr {
    /* border: 2px solid cyan; */
    margin: 30px 0px 0px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

li {

    /* border: 2px solid red; */
    padding: 4px;
}

.vybrana {
    color: #f15f42;
    border: 1px solid #f15f42;
    border-radius: 50%;
    text-align: center;
}

.tlacitko {
    background-color: #f15f42;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}